*{
    margin: 0;
}

#Container{
    display: flex;
    overflow: hidden;
    min-width: 1000px;
    height: auto;
    padding: 10px;
}

#Content{
    position: absolute;
    margin: 10px;   
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    background-color: blueviolet;
}